<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Student Data</h1>
    {% if students %}
    <h1>Student List :</h1>
    {% for stud in students %}
    <ul>
  <li>
    <span>{{ stud.rollNo }} : </span>
    <span>Name : {{ stud.name }} - </span>
    <span>{{ stud.email }} - </span>
    <span>{{ stud.city }}</span>
  </li>
</ul>


    {% endfor %}

    {% else %}
    <h1>No Data</h1>
    {% endif %}
</body>
</html>